<ul class="flex max-h-screen md:flex-col md:justify-start justify-center gap-4">
  <li class="nav-link text-xs sm:text-sm md:text-base" id="home-button"
    ><a class="font-rock" href="/">Inicio</a></li
  >
  <li class="nav-link text-xs sm:text-sm md:text-base"
    ><a class="font-rock" href="/about">Acerca De</a></li
  >
  <li class="nav-link text-xs sm:text-sm md:text-base"
    ><a class="font-rock" href="/work">Proyectos</a></li
  >
  <li class="nav-link text-xs sm:text-sm md:text-base"
    ><a class="font-rock" href="/contact">Contactar</a></li
  >
</ul>

<script>
  import '../scripts/nav-audio';
</script>
