---
import { Icon } from 'astro-icon';
---

<div class="flex justify-around">
  <a
    href="https://github.com/k1ri86"
    rel="sin abrir sin referencia"
    target="_blank"
    aria-label="Perfil de GitHub de Kiri86"
  >
    <Icon class="w-6 h-6" name="mdi:github" alt="Github Icon" />
  </a>
  <a
    href="https://www.linkedin.com/in/kiri86dev/"
    rel="sin abrir sin referencia"
    target="_blank"
    aria-label="Perfil de LinkedIn de Kiri86"
  >
    <Icon class="w-6 h-6" name="mdi:linkedin" alt="Linkedin Icon" />
  </a>
  <a
    href="https://twitter.com/k1ri86"
    rel="sin abrir sin referencia"
    target="_blank"
    aria-label="Perfil de Twitter de Kiri86"
  >
    <Icon class="w-6 h-6" name="mdi:twitter" alt="Twitter Icon" />
  </a>
</div>
